# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GUI (Swing)/LookAndFeelSelector (Swing Look and Feel)/build/
/Algoritmer/RadixSort/build/
/Algoritmer/RadixSort_CustomArrayList/nbproject/private/
/GUI (Swing)/KeyAdapterBasic/build/
/GUI (Swing)/KeyAdapterBasic_1/nbproject/private/
/GUI (Swing)/KeyAdapterBasic_1/build/
/Advanced/GarbageCollectionRunner/nbproject/private/
/Advanced/GarbageCollectionRunner/build/
/Basic/BasicVars/nbproject/private/
/Basic/BasicArray/nbproject/private/
/Basic/BasicArray/build/